### Lesson №3

In [1]:
import numpy as np
np.mean([1, 50, 100]) # Середнє значення

np.float64(50.333333333333336)

In [2]:
np.mean([-1900, 2000])

np.float64(50.0)

In [3]:
# Середньо квадратична похибка
np.sqrt(((1 - 50)**2 + (50 - 50)**2 + (100 - 50)**2) / 3)

np.float64(40.418642563384864)

In [4]:
np.sqrt(((-1900 - 50)**2 + (2000 - 50)**2) / 2)

np.float64(1950.0)

#### Знайти максимальне число зі списка не використовуючи встроєну функцію

In [5]:
lst = [-1, -10, -13, -2, -7, -20]

max_n = lst[0]

for i in lst[1:]:
    if max_n < i:
        max_n = i

print(max_n)

max(lst)

-1

-1

#### З 10-го у 2-ий код

Щоб перевести певне число у 2-1 код, його потрібно ділити на 2 до кінця.

Якщо число ділиться на 2 без остачі, тоді ставиться 0, якщо ні, то 1.

12 | 0
6  | 0
3  | 0
1  | 1

**12** *10* = **1100** *2*

In [6]:
a = 0.1 + 0.1 + 0.1
a

0.30000000000000004

In [7]:
a == 0.3

False

In [8]:
round(a, 1) == 0.3 # Округлення на 1 цифру після коми

True

decimal - для точного обчисленн. Рахує точніше, але довше.

In [9]:
from decimal import Decimal

Decimal('0.1') + Decimal('0.1') + Decimal('0.1')

Decimal('0.3')

In [10]:
import math
# Корінь
25 ** (0.5)

5.0

In [11]:
math.sqrt(25)

5.0

In [12]:
# Степінь
math.pow(2, 5)

32.0

In [13]:
2 ** 5

32

In [14]:
# Факторіали
math.factorial(5)

120

In [15]:
a = 1

for i in range(1, 6):
    a *= i

print(a)

120

Розрахувати місячні виплати m і сумарну виплату s по кредиту. Про кредит відомо, що він становить n гривень, береться на y років, під р % .

10к на 5 років під 10%
Ануєтитний платіж:
* Тут має бути формула *
from IPython.display import Image
Image ('anuitet.jpg') # Встановити фото

In [16]:
s = 10000 # Сума, яка необхідна
r = 0.1 # 10% -> перевести у десяткове число -> 0.1
n = 5 # Кількість років / Домножити на 12, якщо це місячний %
s * (r * (1 + r) ** n) / ((1 + r) ** n - 1)

# Потрібно платити за рік:

2637.974807947452

In [17]:
2637 * 5 # Потрібно заплатити за 5 років

13185

In [18]:
13185 - 10000
# Переплата:

3185

Користувач вводить 2 букви. Визначити на яких місцях алфавіту вони стоять і скільки між ними знаходиться букв.

In [19]:
lst = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

letter_1 = input('Enter letter 1: ')
letter_2 = input('Enter letter 2: ')
print(f'Result: {abs(lst.index(letter_2) - lst.index(letter_1)) - 1}') # abs -> Модуль

Enter letter 1:  f
Enter letter 2:  a

Result: 4

In [20]:
text = 'a + b+ a'
text.count('+') # Кількість + у тексті

2

In [21]:
text = 'akualas'
text.find('a') # 1 буква 'a' у тексті

0

In [22]:
text.rfind('a') # Остання буква 'a' у тексті

5

Знайти усі букви 'a':

In [23]:
for i in enumerate(text): # Пронумерувати
    print(i)

(0, 'a')
(1, 'k')
(2, 'u')
(3, 'a')
(4, 'l')
(5, 'a')
(6, 's')

In [24]:
for number, letter in enumerate(text):
    if letter == 'a':
        print(f'{number} -> {letter}')

0 -> a
3 -> a
5 -> a

In [29]:
import pandas as pd

dct = {
    'Name': ['Xiaomi', 'Apple', 'Samsung'],
    'Price': [100, 1000, 600],
    'Memory': [128, 256, 256]
}
df = pd.DataFrame(dct) # Таблиця
df.to_csv('Lesson №3.csv') # Зберегти у CSV
df

      Name  Price  Memory
0   Xiaomi    100     128
1    Apple   1000     256
2  Samsung    600     256

In [32]:
dct = {
    'Bob': 19,
    'Adam': 26,
    'John': 30,
    'Kevin': 19,
    'Tom': 39
}

In [37]:
dct.keys() # Висести унікальні ключі

dict_keys(['Bob', 'Adam', 'John', 'Kevin', 'Tom'])

In [38]:
dct.values() # Вивести значення

dict_values([19, 26, 30, 19, 39])

In [39]:
dct.items() # Дістати ключ і значення

dict_items([('Bob', 19), ('Adam', 26), ('John', 30), ('Kevin', 19), ('Tom', 39)])

In [41]:
dct = {
    'Bob': 19,
    'Adam': 26,
    'John': 30,
    'Kevin': 19,
    'Tom': 39,
    'Jerry': 299
}
for key, value in dct.items():
    if value < 100: # Забрали виброс (Jerry)
        print(key, value)

Bob 19
Adam 26
John 30
Kevin 19
Tom 39

Створити функцію, яка буде виводити усіх людей зі словника за однаковим віком.

In [45]:
a = 19
for key,values in dct.items():
    if int(value) == a:
        print(key)
dct # ПОФІКСИТИ ВИВОД

{'Bob': 19, 'Adam': 26, 'John': 30, 'Kevin': 19, 'Tom': 39, 'Jerry': 299}

In [47]:
# Ловить певну помилку

try:
    print('abs'/ 0)
except TypeError:
    print('Неправильний тип даних')

Неправильний тип даних

In [49]:
# Виводить пійману помилку

try:
    print(100 / 0)
except Exception as ex:
    print(ex)

division by zero